.new-background-color{
    --background: #3880ff;
    color: white;
  }
  
  .background-color{
    --background: #222428;
    color: white;
  }
  
  .card-background-color{
    --background: #383a3e;
    color: white;
  }